.MainTable {
    margin-left: 50px;
    border-collapse: collapse;
    width: 50%;
}

.TableBorder {
    border: 1px solid black;
}

.TableBody {
}

.TableHeader{
    text-align: left;
    background-color: blanchedalmond;
}

.TableDefinition {
    border: 1px solid black;
    height: 30px;
    vertical-align: bottom;
    padding: 10px;
}
